### Will a Customer Accept the Coupon?

**Context**

Imagine driving through town and a coupon is delivered to your cell phone for a restaraunt near where you are driving. Would you accept that coupon and take a short detour to the restaraunt? Would you accept the coupon but use it on a sunbsequent trip? Would you ignore the coupon entirely? What if the coupon was for a bar instead of a restaraunt? What about a coffee house? Would you accept a bar coupon with a minor passenger in the car? What about if it was just you and your partner in the car? Would weather impact the rate of acceptance? What about the time of day?

Obviously, proximity to the business is a factor on whether the coupon is delivered to the driver or not, but what are the factors that determine whether a driver accepts the coupon once it is delivered to them? How would you determine whether a driver is likely to accept a coupon?

**Overview**

The goal of this project is to use what you know about visualizations and probability distributions to distinguish between customers who accepted a driving coupon versus those that did not.

**Data**

This data comes to us from the UCI Machine Learning repository and was collected via a survey on Amazon Mechanical Turk. The survey describes different driving scenarios including the destination, current time, weather, passenger, etc., and then ask the person whether he will accept the coupon if he is the driver. Answers that the user will drive there ‘right away’ or ‘later before the coupon expires’ are labeled as ‘Y = 1’ and answers ‘no, I do not want the coupon’ are labeled as ‘Y = 0’.  There are five different types of coupons -- less expensive restaurants (under \\$20), coffee houses, carry out & take away, bar, and more expensive restaurants (\\$20 - \\$50).

**Deliverables**

Your final product should be a brief report that highlights the differences between customers who did and did not accept the coupons.  To explore the data you will utilize your knowledge of plotting, statistical summaries, and visualization using Python. You will publish your findings in a public facing github repository as your first portfolio piece.

### Data Description
Keep in mind that these values mentioned below are average values.

The attributes of this data set include:
1. User attributes
    -  Gender: male, female
    -  Age: below 21, 21 to 25, 26 to 30, etc.
    -  Marital Status: single, married partner, unmarried partner, or widowed
    -  Number of children: 0, 1, or more than 1
    -  Education: high school, bachelors degree, associates degree, or graduate degree
    -  Occupation: architecture & engineering, business & financial, etc.
    -  Annual income: less than \\$12500, \\$12500 - \\$24999, \\$25000 - \\$37499, etc.
    -  Number of times that he/she goes to a bar: 0, less than 1, 1 to 3, 4 to 8 or greater than 8
    -  Number of times that he/she buys takeaway food: 0, less than 1, 1 to 3, 4 to 8 or greater
    than 8
    -  Number of times that he/she goes to a coffee house: 0, less than 1, 1 to 3, 4 to 8 or
    greater than 8
    -  Number of times that he/she eats at a restaurant with average expense less than \\$20 per
    person: 0, less than 1, 1 to 3, 4 to 8 or greater than 8
    -  Number of times that he/she goes to a bar: 0, less than 1, 1 to 3, 4 to 8 or greater than 8
    

2. Contextual attributes
    - Driving destination: home, work, or no urgent destination
    - Location of user, coupon and destination: we provide a map to show the geographical
    location of the user, destination, and the venue, and we mark the distance between each
    two places with time of driving. The user can see whether the venue is in the same
    direction as the destination.
    - Weather: sunny, rainy, or snowy
    - Temperature: 30F, 55F, or 80F
    - Time: 10AM, 2PM, or 6PM
    - Passenger: alone, partner, kid(s), or friend(s)


3. Coupon attributes
    - time before it expires: 2 hours or one day

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

### Problems

Use the prompts below to get started with your data analysis.  

1. Read in the `coupons.csv` file.

In [2]:
data = pd.read_csv('data/coupons.csv')

In [3]:
data.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

2. Investigate the dataset for missing or problematic data.

##### I like to dissect my data with unique(), nunique(), and groupby()

In [ ]:
#data["coupon"].unique()
#['Restaurant(<20)', 'Coffee House', 'Carry out & Take away', 'Bar', 'Restaurant(20-50)']

#data["destination"].unique()
#['No Urgent Place', 'Home', 'Work']

#data["toCoupon_GEQ min"].unique()
#[0, 1]

#data["income"].unique()
#['$37500 - $49999', '$62500 - $74999', '$12500 - $24999',
# '$75000 - $87499', '$50000 - $62499', '$25000 - $37499',
# '$100000 or More', '$87500 - $99999', 'Less than $12500']


# CarryAway [nan, '4~8', '1~3', 'gt8', 'less1', 'never']
# Bar ['never', 'less1', '1~3', 'gt8', nan, '4~8']


#toCoupon_GEQmin = data.groupby(['toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min'])[['Y']].count()
#toCoupon_GEQmin

#data["temperature"].unique()
#[55, 80, 30]


#data[""].unique()

#data["age"].unique()
#['21', '46', '26', '31', '41', '50plus', '36', 'below21']

#data["car"].unique()
#[nan, 'Scooter and motorcycle', 'crossover', 'Mazda5', 'do not drive', 'Car that is too old to install Onstar :D']

3. Decide what to do about your missing data -- drop, replace, other...

###### the car and age columns appear to have unusuable data
###### I will keep those values until I work on the assignment a little bit
###### and find a reason to update them

###### the car column contains nan
###### this is a problem further in the assignment because without it the count = 0
###### let's replace NoN with "four-wheels" and see what happens

In [ ]:
data["car"] = data["car"].fillna("four-wheels")

4. What proportion of the total observations chose to accept the coupon?

###### create a variable to hold the count of accepted coupons and total number of coupons
#####  then divide accepted coupons by total number of coupons
##### and format the number to display a percentage

In [ ]:
countYeq1 = data.query('Y == 1')['Y'].count() # 7210
countY = data['Y'].count() #12684
# 7210/12684 = 0.5684326710816777
'{:.2%}'.format(countYeq1/countY)

5. Use a bar plot to visualize the `coupon` column.

##### this is easy.  use .plot(kind='bar') to produce a chart for the coupon column

In [ ]:
data["coupon"].value_counts().plot(kind='bar')

6. Use a histogram to visualize the temperature column.

##### this is easy too.  use .plot(kind='hist') to produce a chart for the temperature column
##### let's set bins=3 to make the chart easier to read

In [ ]:
data["temperature"].plot(kind='hist',bins=3)

**Investigating the Bar Coupons**

Now, we will lead you through an exploration of just the bar related coupons.  

1. Create a new `DataFrame` that contains just the bar coupons.

In [9]:
bar_coupons = data.query('coupon == "Bar"')
bar_coupons.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
9,No Urgent Place,Kid(s),Sunny,80,10AM,Bar,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
13,Home,Alone,Sunny,55,6PM,Bar,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,1,0,1
17,Work,Alone,Sunny,55,7AM,Bar,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,1,0,1,0
24,No Urgent Place,Friend(s),Sunny,80,10AM,Bar,1d,Male,21,Single,...,less1,4~8,4~8,less1,1,0,0,0,1,1
35,Home,Alone,Sunny,55,6PM,Bar,1d,Male,21,Single,...,less1,4~8,4~8,less1,1,0,0,1,0,1

2. What proportion of bar coupons were accepted?

In [10]:
#countBar1 = data[(data.coupon == 'Bar') & (data.Y == 1)]["coupon"].count() # 827
countBar1 = bar_coupons[(bar_coupons.Y == 1)]["coupon"].count() # 827
#countBar1
#countBar = data[(data.coupon == 'Bar')]["coupon"].count() # 2017
countBar = bar_coupons["coupon"].count() # 2017
#countBar
'{:.2%}'.format(countBar1/countBar)

'41.00%'

3. Compare the acceptance rate between those who went to a bar 3 or fewer times a month to those who went more.

In [11]:
countBarThreeOrLess = bar_coupons[(bar_coupons.coupon == 'Bar') & (bar_coupons.Bar.isin(['never', 'less1', '1~3'])) & (bar_coupons.Y == 1)]["coupon"].count() # 
#countBarThreeOrLess #666
countBarMoreThanThree = bar_coupons[(bar_coupons.coupon == 'Bar') & (bar_coupons.Bar.isin(['gt8', '4~8']) ) & (bar_coupons.Y == 1)]["coupon"].count() # 827
#countBarMoreThanThree # 153
# Bar ['never', 'less1', '1~3', 'gt8', nan, '4~8']
'{:.2%}'.format(countBarThreeOrLess/countBarMoreThanThree)

'435.29%'

4. Compare the acceptance rate between drivers who go to a bar more than once a month and are over the age of 25 to the all others.  Is there a difference?

In [12]:
accepted_bar_coupons = bar_coupons[bar_coupons["Y"]==1]
accepted_bar_coupons.groupby(['Y','Bar','car','age'])[['Y']].count()
#accepted_bar_coupons.info()

                                         Y
Y Bar   car                    age
1 1~3   four-wheels            21       68
                               26       69
                               31       46
                               36       14
                               41       18
                               46        6
                               50plus   34
                               below21   2
  4~8   four-wheels            21       33
                               26       47
                               31       14
                               36        6
                               41        3
                               46        6
                               50plus    8
  gt8   do not drive           26        2
        four-wheels            21       13
                               26       13
                               31        3
                               50plus    3
                               below21   2
  less1 Scooter and motorcycle 26        1
        four-wheels            21       64
                               26       36
                               31       38
                               36       24
                               41       46
                               46       16
                               50plus   22
                               below21   6
  never four-wheels            21       33
                               26       22
                               31       24
                               36       17
                               41        8
                               46       10
                               50plus   16
                               below21  26

In [13]:
driversOverTwentyFive = accepted_bar_coupons.query("age in ['46', '26', '31', '41', '50plus', '36']")
#driversOverTwentyFive.groupby(['Y','Bar','car','age'])[['Y']].count()
barMoreThanOnceOver21 = driversOverTwentyFive.query("Bar in ['1~3','gt8', '4~8']")
barMoreThanOnceOver21.count()

destination             292
passanger               292
weather                 292
temperature             292
time                    292
coupon                  292
expiration              292
gender                  292
age                     292
maritalStatus           292
has_children            292
education               292
occupation              292
income                  292
car                     292
Bar                     292
CoffeeHouse             287
CarryAway               287
RestaurantLessThan20    292
Restaurant20To50        286
toCoupon_GEQ5min        292
toCoupon_GEQ15min       292
toCoupon_GEQ25min       292
direction_same          292
direction_opp           292
Y                       292
dtype: int64

In [14]:
driversUnderTwentyFive = accepted_bar_coupons.query("age in ['21']")
#driversUnderTwentyFive.groupby(['Y','Bar'])[['Y']].count()
barMoreThanOnceUnder25 = driversUnderTwentyFive.query("Bar in ['1~3','gt8', '4~8']")
barMoreThanOnceUnder25.count()

destination             114
passanger               114
weather                 114
temperature             114
time                    114
coupon                  114
expiration              114
gender                  114
age                     114
maritalStatus           114
has_children            114
education               114
occupation              114
income                  114
car                     114
Bar                     114
CoffeeHouse             114
CarryAway               111
RestaurantLessThan20    114
Restaurant20To50        113
toCoupon_GEQ5min        114
toCoupon_GEQ15min       114
toCoupon_GEQ25min       114
direction_same          114
direction_opp           114
Y                       114
dtype: int64

In [15]:
# if I keep the code to replace NoN with "four-wheels"
# there are LOTS of data to use in this problem
# I'm not crazy about this idea, but it's purely academic so what the heck!
countYOver21 = barMoreThanOnceOver21['Y'].count()
countYUnder25 = barMoreThanOnceUnder25['Y'].count()
'{:.2%}'.format(countYUnder25/countYOver21)

'39.04%'

5. Use the same process to compare the acceptance rate between drivers who go to bars more than once a month and had passengers that were not a kid and had occupations other than farming, fishing, or forestry.

6. Compare the acceptance rates between those drivers who:

- go to bars more than once a month, had passengers that were not a kid, and were not widowed *OR*
- go to bars more than once a month and are under the age of 30 *OR*
- go to cheap restaurants more than 4 times a month and income is less than 50K.

7.  Based on these observations, what do you hypothesize about drivers who accepted the bar coupons?

### Independent Investigation

Using the bar coupon example as motivation, you are to explore one of the other coupon groups and try to determine the characteristics of passengers who accept the coupons.